<%- include('../includes/head.ejs')  %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <H1>Nothing here !</H1>
    </main>
    <%- include('../includes/end.ejs') %>